*{
    box-sizing: border-box;
}
/* Starter Page */
body{
    background-image: url("../images/sparkles.png"); 
    background-position: center;
    background-size: auto;
}
h1{
    color: whitesmoke;
    font-family: 'Great Vibes', cursive;
    margin-top: 100px;
    font-size: 65px;
    text-shadow: 2px 2px lightseagreen;
}
#head{
    background-image: url("../images/disney.jpg");
    height: 600px;
    background-position: center;
    background-size: 1500px 900px;
}
button:hover{
    background-color: rgba(153, 205, 50, 0.815) !important;
}
button{
    background-color: rgba(216, 112, 147, 0.815) !important;
    color: aliceblue;
    font-size: 30px;
    font-family: 'Bungee Inline', cursive;
}
p{
    font-family: 'Indie Flower', cursive;
}
#main-content{
    position: relative;
}
.fixed{
    position: absolute;
    top: 10px;
    left: 0;
    width: 200px;
    height: 200px;
}
/* In-Game Main Content */
h2{
    font-family: 'Fredericka the Great', cursive;
}
.content{
    background-image: url("../images/white-waves.png");
}
#time{
    font-size: 60px;
    font-family: 'Fredericka the Great', cursive;
}
#question{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    color: lightseagreen;
    text-shadow: 1px 1px lightcyan;
}
.answer{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#answerDisplay{
    background-color: beige !important;
    color: brown;
}
/* Game Over */
#gg{
    text-shadow: 2px 2px lightseagreen;
}
#replay{
    background-image: url("../images/replay.jpg") !important;
    background-position: center;
    background-size: 600px 100px;
    color: rgba(240, 240, 15, 0.884);
    font-size: 30px;
    font-family: 'Bungee Inline', cursive;
    text-shadow: 2px 2px black;
}
/* Footer */
#end{
    text-align: center;
    font-size: 12px;
    background-color: rgba(192, 26, 207, 0.774);
    padding: 10px;
    border-top: 5px solid lightcyan;
}
#lastP{
    color: white;
    margin-bottom: 0;
}
/* Media Query */
@media screen and (min-width: 545.1px)and (max-width: 1100px), (min-width:1100px) {
    #gameRule{
        margin-top: 70px;
    }
}